*{
    font-family: Work Sans;
}
.container{
    margin: 0 auto;
}
/* navigation part start here*/
.nav-container{
    display: flex;
    max-width: 1920px;
    max-height: 130px;
    margin: 0 auto;
    padding:0px 120px ;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container .nav-icon{
    display: flex;
    align-items: center;
    gap: 20px;
    /* padding-left: 240px; */
}
.nav-container img{
    width: 86.041px;
    height: 40px;
}
.nav-items{
    align-items: center;
    /* padding-right: 240px; */
}
.nav-container  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-container li{
    list-style: none;
    margin: 0px 21px 0px 18px;

}
nav a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.nav-title span{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-button{
    max-width: 262px;
    max-height: 56px;
    text-align: center;
    font-weight: 500;
    padding: 13px;
    margin-top: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.nav-button span{
    padding: 8px;
}
/* Navigation part end */
/* Banner start here*/
.banner > img{
    background-repeat: no-repeat;
    max-width: 50%;
    position: absolute;
}
.banner-container{
    max-width: 1920px;
    max-height: 5927px;
    margin: 0 120px;
    display: flex;
}
.banner-container .box{
    width: 601px;
    height: 450px;
    margin: 20px auto;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    overflow: hidden;
}
.box > img{
    max-width: 100%;
    max-height: 100%;
}
.box-content{
    padding: 60px 0;
}
.box-content > p{
    color: #0B0223;
    margin: 0;
    font-size: 44px;
    font-weight: 600;
    text-transform: uppercase;
}
.box-content .box-goat{
    font-size: 86px;
    font-weight: 800;
    margin: 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.box-content li{
    list-style: none;
    margin-left: -35px ;
    color: #534C64;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-button{
    display: inline-flex;
    gap: 16px;
    align-items: flex-start;
}
.sign-in-btn{
    padding: 18px 34px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.rogue-btn{
    padding: 18px 38px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
/* Banner end */
/* online section start here */
.image-heading{
    text-align: center;
    margin-top: 50px;
}
.image-heading h1{
    color: #0B0223;
font-size: 35px;
font-weight: 700;
}
.image-heading p{
    color: #534C64;
    margin: -20px 0 25px 0;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;

}
.image-heading span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.image-container{
    display: flex;
    margin: 0 auto;
    padding:0px 120px ;
    gap: 10px;
}
.online-image-container {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    margin-top: 8px;
    float: left;
    color: #534C64;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.6; 
  }
  

/* online section end here */

/* play poster start here */
.play-container{
    display: flex;
    margin: 0 auto;
    padding: 100px 120px ;

}
.play-content{
    padding: 60px 160px;
    text-align: right;
}
.play-content h1{
font-size: 36px;
font-weight: 700;
line-height: 1.2;
}
.play-content span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-content p{
    color: #534C64;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
}
.play-image-container{
    position: relative;
    margin: 0 auto;
}
.play-image{
    position: absolute;
    margin: -175px -90px;
}
.play-image-container .play-image img{
    width: 200px;
}
.play-image-container img{
    width: 400px;

}


/* Play poster end here */

/* rectangle content start here */
    .rectangle-container{
    max-width: 1920px;
    max-height: 927px;
    margin: 0 auto;
    padding: 70px 120px;
    display: grid;
    grid-template-columns:repeat(5, 2fr);
    gap: 15px;
    font-size: 14px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    }

    .rect{
    text-align: center;
    font-weight: 500;
    padding: 15px 0 20px 0;
    border-radius: 40px;
    background: #fff;

    }
    .rect:hover{
        border: 1px solid #F948B2;
        color: #FF42A5;
    }
    .rect span{
        margin-left: 5px;
        margin-bottom: 50px;

    }
    .rect img{
        width: 20px;
    }



/* rectangle content end here */
